.body {
  background-color: #E5E5E5;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 128px 0;

  &__header {
    display: flex;
    flex-direction: column;
    text-align: center;

    h2 {
      margin: 0;
    }

    &__info {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 13px;
    }
  }
}