.body {
  background-color: #e5e5e5;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 128px 0;

  &__header {
    display: flex;
    flex-direction: column;
    text-align: center;

    h2 {
      margin: 0;
    }

    &__info {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 13px;
      flex-wrap: wrap;
      margin: 13px 0 13px;
    }
  }
}

@media (max-width: 1300px) {
  .container {
    padding: 64px 32px;
  }
}

@media (max-width: 435px) {
  .container {
    padding: 32px 16px;

    &__header {
      h2 {
        font-size: 24px;
      }
    }
  }
}
