.container {
  display: flex;
  flex-direction: column;
  padding: 128px 16px;
  gap: 128px;
  background-color: #e5e5e5;

  &__recentPost {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;

    &__content {
      background-color: var(--white);
      display: flex;
      align-items: center;
      padding: 56px;

      &__info {
        padding: 28px 29px 29px 48px;
        text-align: start;
        h4 {
          margin: 12px 0 16px;
        }

        p {
          margin-bottom: 32px;
        }
        &__header {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: center;
        }
      }

      img {
        max-width: 50%;
      }
    }
  }

  &__blogCardsSection {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;

    h2 {
      margin: 0 auto 64px;
    }

    &__cards {
      &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;

        margin: 0 auto;
        padding: 0;

        li:first-child {
          border-bottom: 16px solid #ffd0a0;
          padding-bottom: 32px;
        }
      }
    }
  }
}

@media (max-width: 1330px) {
  .container {
    &__blogCardsSection {
      &__cards {
        &__list {
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width: 1166px) {
  .container {
    padding: 64px 16px;

    &__recentPost {
      &__content {
        &__info {
          padding-right: 0;
        }
      }
    }
  }
}

@media (max-width: 1121px) {
  .container {
    &__recentPost {
      width: 954px;
      max-width: fit-content;
      &__content {
        padding: 32px;

        &__info {
          width: 85%;
        }
      }

      img {
        max-width: 85%;
      }
    }
  }
}

@media (max-width: 1110px) {
  .container {
    &__recentPost {
      &__content {
        flex-direction: column-reverse;
        gap: 32px;

        &__info {
          padding: 0;

          a {
            margin: 0 auto;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    gap: 64px;

    &__recentPost {
      &__content {
        img {
          max-width: 95%;
        }
        &__info {
          width: 95%;
        }
      }
    }

    &__blogCardsSection {
      h2 {
        margin-bottom: 32px;
      }
    }
  }
}

@media (max-width: 435px) {
  .container {
    &__recentPost {
      &__content {
        padding: 16px;
        img {
          width: 100%;
        }

        &__info {
          &__header {
            justify-content: center;
          }
        }
      }
    }
  }
}
