.container {
  margin: 128px auto;
  display: flex;
  flex-direction: column;
  gap: 128px;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 64px auto;
  }
}

@media screen and (max-width: 425px) {
  .container {
    gap: 64px;
  }
}
