.WelcomeCard {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 80px;
  gap: 24px;
  background-color: var(--light-orange);
  border-bottom: 16px solid var(--primary-color);
  width: 400px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }
}

.BenefitsCard {
  width: 302px;
  height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 32px;

  h5,
  p {
    margin: 0;
    padding: 0;
  }

  h5 {
    text-align: start;
  }

  position: relative;
}

.BenefitsCard::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}

.BlogPost {
  max-width: 292px;
  background-color: var(--light-orange);
  padding: 48px 32px;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 48px;

  h5 {
    margin: 0 0 16px;
  }
}
