.WelcomeCard {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 80px;
  gap: 24px;
  background-color: var(--light-orange);
  border-bottom: 16px solid var(--primary-color);
  width: 400px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }
}

@media (max-width: 450px) {
  .WelcomeCard {
    width: 90%;
    padding: 70px;
    gap: 20px;
  }
}

@media (max-width: 380px) {
  .WelcomeCard {
    padding: 40px;
    gap: 16px;
  }
}

.BenefitsCard {
  width: 302px;
  height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 32px;

  h5,
  p {
    margin: 0;
    padding: 0;
  }

  h5 {
    text-align: start;
  }

  position: relative;
}

.BenefitsCard::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}

.PostCard {
  max-width: 302px;
  background-color: var(--white);
  padding: 48px 32px;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 48px;

  &__header {
    h5 {
      margin: 0 0 16px;
    }

    p {
      margin: 0;
      color: #333333;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 4px;

    p {
      margin: 0;
    }
  }
}

.TeamCard {
  padding: 48px 55px;
  background-color: var(--gray);
  width: 302px;

  &__image {
    margin: 0 0 26px;
    width: 152px;
  }

  &__content {
    h5 {
      margin: 0 0 8px;
    }

    p {
      width: fit-content;
      margin: 0 auto 16px;
    }
  }

  &__socials {
    display: flex;
    gap: 20px;
    padding: 0;
  }
}

@media (max-width: 435px) {
  .TeamCard {
    padding: 32px 39px;
  }
}

.EventCard {
  padding: 0 60px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  text-align: start;

  p,
  h5 {
    margin: 0;
  }

  h5 {
    width: 87%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: end;

    &__date {
      display: flex;
      flex-direction: column;
      align-items: end;
    }
  }

  &__paragraph {
    p {
      color: #333333;
    }
  }

  &__time,
  &__location {
    display: flex;
    align-items: start;
    width: 70%;
    gap: 8px;

    p {
      color: black;
    }
  }

  &__button {
    margin: 1em auto 0;
  }
}
