.WelcomeCard {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 80px;
  gap: 24px;
  background-color: var(--light-orange);
  border-bottom: 16px solid var(--primary-color);
  width: 400px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }
}

.BenefitsCard {
  width: 302px;
  height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 32px;

  h5,
  p {
    margin: 0;
    padding: 0;
  }

  h5 {
    text-align: start;
  }

  position: relative;
}

.BenefitsCard::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}

.BlogPost {
  max-width: 292px;
  background-color: var(--light-orange);
  padding: 48px 32px;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 48px;

  h5 {
    margin: 0 0 16px;
  }
}

.TeamCard {
  padding: 48px 55px;
  background-color: var(--gray);
  max-width: 302px;

  &__image {
    margin: 0 0 26px;
    width: 152px;
  }

  &__content {
    h5 {
      margin: 0 0 8px;
    }

    p {
      width: fit-content;
      margin: 0 auto 16px;
    }
  }

  &__socials {
    display: flex;
    gap: 20px;
    padding: 0;
  }
}

.sermonCard {
      padding: 0 60px;
      width: 435px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      p,
      h5 {
        margin: 0;
      }

      h5 {
        width: 80%;
      }

      &__header {
        display: flex;
        justify-content: space-between;
        align-items: end;
      }

      &__time,
      &__location {
        display: flex;
        align-items: start;
        gap: 8px;

      }

      &__button {
        margin-top: 30px;
      }
    }
