.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;

  h2 {
    margin: 16px auto 64px;
    width: 45%;
  }

  &__info {
    display: flex;
    align-items: center;
    background-color: var(--light-orange);
    text-align: start;

    &__banner {
      height: 512px;
    }
  }

  &__footer {
    display: flex;
    justify-content: end;
    margin-top: 48px;

    a {
      display: flex;
      align-items: baseline;
      gap: 11px;
      margin: 0;
    }
  }
}
