.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;

  label {
    margin-bottom: 1em;
  }

  h2 {
    margin: 0 0 64px;
  }

  &__info {
    display: flex;
    align-items: center;
    background-color: var(--light-orange);
    text-align: start;

    &__details {
      padding: 0 60px;
      width: 435px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      p,
      h5 {
        margin: 0;
      }

      h5 {
        width: 80%;
      }

      &__header {
        display: flex;
        justify-content: space-between;
        align-items: end;
      }

      &__time,
      &__location {
        display: flex;
        align-items: start;
        gap: 8px;

        p {
          margin: 0;
        }
      }

      &__button {
        margin-top: 30px;
      }
    }

    &__banner {
      height: 512px;
    }
  }
}
