.container {
  display: flex;
  flex-direction: column;
  gap: 128px;
  padding-bottom: 128px;

  header {
    padding: 160px 110px;

    h1 {
      margin: 0;
    }
  }
}

@media (max-width: 768px) {
  .container {
    gap: 64px;

    header {
      padding: 96px 64px;

      div div {
        width: 100%;
      }
    }
  }
}

@media (max-width: 435px) {
  .container {
    gap: 32px;
    padding-bottom: 64px;

    header {
      padding: 64px 32px;
    }
  }
}

@media (max-width: 375px) {
  .container {
    header {
      padding: 32px 16px;
    }
  }
}
