.container {
  background-color: var(--gray);
  padding: 128px 110px 123px;

  &__content {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;

    h2 {
      width: 500px;
      margin: 0 auto 64px;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding: 0;
    margin: 0 auto;
  }

  &__articles {
    max-width: 1024px;
    margin: auto;

    ul {
      display: flex;
      flex-direction: column;
      gap: 96px;
      padding: 0;
      margin: 0;

      li article {
        display: flex;
        flex-direction: row;
        gap: 48px;

        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 16px;
        }

        div h4,
        div p {
          margin: 0;
        }
      }

      li article:nth-child(2) {
        padding: 82px 48px;
      }
    }
  }
}
