.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 64px;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin: 0 auto;
  }
}

@media (max-width: 435px) {
  .container {
    gap: 32px;
  }
}
