.container {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  margin: 64px auto 0;
  gap: 16px;

  a {
    color: blue;
    text-decoration: none;
    font-weight: 500;
  }

  a:hover {
    text-decoration: underline;
  }

  p,
  blockquote p,
  blockquote,
  li {
    color: #161722;
    margin: 0;
  }

  p {
    font-size: 18px;
    line-height: 24px;
    color: #161722;
  }

  h2 {
    font-size: 48px;
    margin: 0;
  }

  h4 {
    font-size: 32px;
    margin: 0;
  }

  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }

  blockquote {
    padding-left: 1rem;

    p {
      padding-left: 0.5rem;
      border-left: 3px solid var(--primary-color);
      font-size: 18px;
      line-height: 150%;
    }
  }

  ul {
    padding-left: 18px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    li {
      list-style-type: none;
      font-size: 18px;
    }
  }
}

@media (max-width: 790px) {
  .container {
    margin: 32px auto 0;
  }
}

@media (max-width: 435px) {
  .container {
    h2 {
      font-size: 24px;
    }

    h4 {
      font-size: 20px;
    }
  }
}
