.footer {
  display: flex;
  justify-content: space-around;
  background-color: #161722;
  padding: 64px 110px;

  &__info {
    display: flex;
    justify-content: space-around;
    flex: 1;
    gap: 28px;

    div p {
      margin-top: 0;
    }

    &__content {
      &__location {
        display: flex;
        flex-direction: column;
        gap: 16px;

        p {
          margin: 0;
        }
      }
    }

    &__links {
      display: flex;
      gap: 72px;

      div a {
        color: var(--white);
      }

      &__connect {
        max-width: 226px;

        ul {
          display: flex;
          gap: 20px;
          padding: 0;
        }
      }
    }
  }

  &__subscribe {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 32px;

    h4 {
      max-width: 377px;
      margin: 0;
    }

    div {
      width: 512px;
      display: flex;
      justify-content: space-between;
      border-radius: 14px;
      border: 0.5px solid var(--white);

      input {
        background-color: transparent;
        border: none;
        padding: 20px;
        color: var(--white);
        flex: 1;
      }

      input:focus {
        outline: none;
      }

      button {
        margin: 0;
      }
    }
  }
}

@media (max-width: 1350px) {
  .footer {
    padding: 64px;
  }
}

@media (max-width: 1200px) {
  .footer {
    padding: 64px 32px;
  }
}

@media (max-width: 1150px) {
  .footer {
    flex-direction: column;

    &__subscribe {
      align-self: center;

      h4 {
        max-width: 100%;
      }

      div {
        margin: auto;
      }
    }
  }
}

@media (max-width: 973px) {
  .footer {
    &__subscribe {
      justify-content: center;
      margin-top: 32px;

      div {
        max-width: 90%;
      }
    }
  }
}

@media (max-width: 720px) {
  .footer {
    &__subscribe {
      text-align: center;
      h4,
      div,
      div input {
        width: 100%;
      }
    }
  }
}

@media (max-width: 620px) {
  .footer {
    padding: 32px 16px 120px;
  }
}

@media (max-width: 550px) {
  .footer {
    flex-direction: column;
    gap: 32px;

    &__subscribe {
      margin: 0;
      div {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 435px) {
  .footer {
    &__info {
      &__links {
        &__connect {
          p {
            text-align: center;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .footer {
    &__info {
      gap: 16px;

      &__links {
        &__connect {
          ul {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
