.body {
  background-color: #e5e5e5;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 128px 16px;
  display: flex;
  flex-direction: column;
  gap: 128px;

  &__article {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    &__content {
      width: 49%;
      img {
        width: 100%;
      }

      h2 {
        margin: 62px 0 16px;
      }

      div {
        margin: 0;
      }
    }

    &__register {
      width: 49%;
      height: fit-content;

      display: flex;
      justify-content: right;

      &__form {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 40px;
        width: 522px;
        min-width: 421px;
        background-color: var(--white);
        h4 {
          margin: 0;
        }

        &__info {
          display: flex;
          align-items: start;
          gap: 15px;

          div {
            display: flex;
            align-items: start;
            width: 60%;
            gap: 10px;
            p {
              margin: 0;
            }
          }
        }

        &__input {
          display: flex;
          flex-direction: column;
          gap: 12px;

          label {
            color: #787984;
          }

          input {
            padding: 8px 0;
            border: none;
            border-bottom: 1px solid #e2e3e6;

            &:focus {
              outline: none;
            }

            &::placeholder {
              color: #1d2130;
              font-size: 16px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1031px) {
  .container {
    justify-content: center;
    padding: 64px 32px;

    &__article {
      &__content {
        width: 100%;

        div {
          margin: 0 auto;
        }
      }

      &__register {
        justify-content: center;
        width: 100%;
      }
    }
  }
}

@media (max-width: 435px) {
  .container {
    padding: 32px 16px;
    gap: 64px;

    &__article {
      &__content {
        h2 {
          margin: 32px 0 16px;
        }
      }
      &__register {
        width: 100%;
        margin: 0 auto;

        &__form {
          margin: 0 auto;
          width: 100%;
          min-width: 230px;
          &__info {
            flex-direction: column;
          }
        }
      }
    }
  }
}

@media (max-width: 385px) {
  .container {
    padding: 32px 16px;

    &__article {
      &__register {
        &__form {
          &__info {
            div {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
